{{ define "styles" }}
	<link rel="stylesheet" href="/styles/issues.css">
{{ end }}

{{ define "scripts" }}
	<script src="/scripts/issues.js"></script>
{{ end }}

{{ define "main" }}
	<main>
		<section class="title">
			<div class="container">
				<h1>{{ .Title }}</h1>
				<div class="lastmod">Last Updated: {{ .Lastmod.Format "20060102-15:04:05.000" }}</div>
				<ul class="list-unstyled flex-line">
					{{ range .Params.tags }}
						<li class="tag">{{ . }}</li>
					{{ end }}
				</ul>
			</div>
		</section>
		<article>
			<div class="container">
				<div class="my-6">
					{{ partial "issues/expander.html" ( dict "type" "About" "content" .Params.about ) }}
				</div>
				<div class="my-6">
					{{ partial "issues/expander.html" ( dict "type" "Pros" "content" .Params.pros ) }}
				</div>
				<div class="my-6">
					{{ partial "issues/expander.html" ( dict "type" "Cons" "content" .Params.cons ) }}
				</div>
				<!-- <div class="my-6">
					{{ partial "issues/activity.html" ( dict "type" "Activity" "content" .Params.activity ) }}
				</div> -->
			</div>
		</article>
	</main>
{{ end }}
