{{ define "styles" }}
	<link rel="stylesheet" href="/styles/issues.css">
{{ end }}

{{ define "main" }}
	<main>
		<section class="title">
			<div class="container">
				<h1>{{ .Title }}</h1>
				<ul class="list-inline meta-font-style">
					{{ range .Params.tags }}
						<li class="list-inline-item tag">{{ . }}</li>
					{{ end }}
				</ul>
			</div>
		</section>
		<article>
			<div class="container">
				<div class="my-6">
					{{ partial "issues/expander.html" ( dict "type" "About" "content" .Params.about "colorscheme" "default" ) }}
				</div>
				<div class="my-6">
					{{ partial "issues/expander.html" ( dict "type" "Pros" "content" .Params.pros "colorscheme" "default" ) }}
				</div>
				<div class="my-6">
					{{ partial "issues/expander.html" ( dict "type" "Cons" "content" .Params.cons "colorscheme" "default" ) }}
				</div>
				<!-- <div class="my-6">
					{{ partial "issues/activity.html" ( dict "type" "Activity" "content" .Params.activity ) }}
				</div> -->
			</div>
		</article>
	</main>
{{ end }}

{{ define "scripts" }}
	<script src="/scripts/issues.js"></script>
{{ end }}
