<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<base href="{{ .Site.BaseURL }}">

	{{ if eq .URL "/" }}
		<title>{{ .Title }}</title>
	{{ else }}
		<title>{{ .Title }} - {{ .Site.Title }}</title>
	{{ end }}

	{{ if eq .URL "/" }}
		<meta property="description" content="{{ .Site.Params.description }}">
	{{ else if .Description }}
		<meta property="description" content="{{ .Description }}">
	{{ end }}

	{{ block "fonts" . }}
		<link href="https://fonts.googleapis.com/css?family=Fira+Sans:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
	{{ end }}

	{{ block "base" . }}
		<link rel="stylesheet" href="/styles/app.css">
	{{ end }}

	{{ block "styles" . }}{{ end }}

	{{ block "extras" . }}{{ end }}

</head>

{{ block "body" . }}
	<body>
		<!--[if lte IE 9]>
	            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to make full use of this website.</p>
	        <![endif]-->

		{{ partial "header.html" . }}

		{{ block "main" . }}{{ end }}

		{{ partial "footer.html" . }}

		{{ block "scripts" . }}{{ end }}

	</body>
{{ end }}

</html>
