@import "base";

$item-spacer-x: get-spacers(2, 'x');
$item-spacer-y: get-spacers(2, 'x');
$item-spacer: get-spacers(3, 'x');

section.title {

	h1 {

	}

	.lastmod {

	}

	.tag {
		font-size: $font-size-sm;
		padding: $spacer * 0.25 $spacer * 0.5;
		background: #EEE;
		border-radius: $border-radius;
	}

}

aside {

}

section.expander {

	.subtitle:after {
		content: "";
	}

	.item-list {

		.item {
			border: 1px solid $gray-lighterer;
			border-radius: $border-radius;
			overflow: hidden;
			transition: border-color 0.35s ease;

			.item-summary {
				position: relative;
				transition: background 0.35s ease;
			}

			.item-summary.item-summary-with-read-more {
				cursor: pointer;
				position: relative;
				transition: all 0.35s ease;
			}

			.item-read-more {
				color: $gray-lighter;
				position: absolute;
			    line-height: 1;
			    height: 0.8rem;
			    bottom: 1.2rem;
			    z-index: -1;
			    transition: all 0.111s ease-in-out;
			}

			&.contracted {
				.item-summary.item-summary-with-read-more {
					padding-bottom: 3rem !important;
				}
			}

			&.expanded {
				.item-read-more {
					opacity: 0;
					visibility: hidden;
				}
			}

			.item-full {
				border-top: 1px solid $gray-lightest;
				transition: border-color 0.35s ease;
			}

			.item-meta {
				border-top: 1px solid $gray-lightest;
				line-height: 1;
				color: $gray-lighter;
			}

		}

	}

}

section.expander.color-scheme-default {

	.item-list {
		.item.expanded {
			border-color: hsl(hue($brand-primary), 54%, 86%);
			.item-summary {
				background: hsl(hue($brand-primary), 82%, 98%);
			}
			.item-meta {
				border-top-color: hsl(hue($brand-primary), 48%, 88%);
			}
		}
	}

}
