@import "base";
@import "bootstrap/scss/card";

$item-spacer-x: get-spacers(2, 'x');
$item-spacer-y: get-spacers(2, 'x');
$item-spacer: get-spacers(3, 'x');

section.title {

	h1 {

	}

	.lastmod {

	}

	.tag {
		font-size: $font-size-sm;
		padding: $spacer * 0.25 $spacer * 0.5;
		margin-left: $spacer * 0.5;
		background: #EEE;
		border-radius: $border-radius;
		&:first-child {
			margin-left: 0px;
		}
	}

}

aside {

}

article {

	section {

		.title {
			// padding-left: 18px;
			// position: relative;
			// &:before {
			// 	content: "";
			//     position: absolute;
			//     left: 0;
			//     top: 0.4rem;
			//     bottom: 0.4rem;
			//     width: 6px;
			//     background: #CCC;
			// }
		}

	}

}

.expander {

	.item-list {
	}

	.item {
	}

	.item-summary,
	.item-full {
	}

	.item-summary {
		position: relative;
		&.collapsible {
			cursor: pointer;
		}
	}

	.item-full {

	}

	.item-diamond,
	.item-chevron {
		position: absolute;
	    border-style: solid;
	    height: 0.40em;
	    width: 0.40rem;
	}

	.item-diamond {
		border-width: 1px;
		border-radius: 50%;
		background: #000;
	}

	.item-chevron {
		transition: transform 0.6s ease-in-out;
		height: 0.50em;
	    width: 0.50rem;
		transform: rotate(-45deg);
		border-width: 0 3px 3px 0px;
	}

	.item-chevron.chevron-open {
		transform: rotate(45deg);
	}

}
